
.navbar-brand {
    max-width: 50%;
}
.imglogo {
    max-width: 100%;
}
.border-bottom {
    border-bottom: 3px solid #d6d5d5 !important;
}
.form-control {
    border-bottom: 5px solid #cccccc !important;
}
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.responsive-img{
    max-width: 100%; 
}
.imageUsers {
    max-width: 100%;
    height: 70px;
}
.imagePrin {
    max-width: 150%;
    height: 80px;
}
.imageUserDetails {
    max-width: 70%;
}
.cardStyle{
    padding: 5px;
}
@media (min-width: 768px){
    .navbar-brand {
        max-width: 35%;
    }
}